<br>
<div id="buttons0" style="float:right;">
	<div id=bt1 class="ui grey button">Préférences</div>
	<div id=bt2 class="ui grey button"> Choisir un site</div>
	<div id=bt3 class="ui grey button">Se Déconecter</div>
	
</div>

<br><br>

<div id="buttons1" style="text-align:center;margin-top: 100px";>
	<h2>Moteur de recherche</h2>
	<div class="ui action input">
  		<input id= "text" type="text" placeholder="Mots clés">  		 
		<button class="ui button">Rechercher</button>
	</div>
<div>

<br><br>


<div id="buttons2" style="text-align:center;margin-top: 150px";>
	<h2>Liens de l'établissement</h2>
	{{ q["bts-liens"] | raw }}
 </div>

